{% extends "home/base.html" %}
{% load static %}

{% block meta %}

<title>Perfect Wedding Planner | Wedding Planner and Décor in India</title>
<meta name="description" content="Planning your wedding? VowsnViews guide you to find the best wedding planners and decorators.  Hire professional Handpicked wedding planners & décorators.">

{% endblock meta %}

{% block head %}
<style>
   .overlays {
  opacity: 10;
  color: white;
  background-color: #000;
}
</style>
{% endblock head %}
{% block content %}

<div class="app-content" style="margin-top:3em;">


<div class="hide-mobile" >
	<div class=" overlay-image _ay "><a>
                     <img class=" image _b0 " src="{% static 'home/images/banner/Planning_and_Decor.jpg' %}" alt="Alt text" style="width: 100%;height: 400px;object-fit: cover;" />
                     <div class=" hover _b1 ">
                      <div class=" text _2">
						  <h2 style="color:#fff;font-weight: bold;">Vnv Expert Planner</h1>
                          <p style="margin-top: 0em;padding: 2em 3em;font-size:0.6em;">Each Indian Wedding is described by its Traditions, cultural standards, and ceremonies rituals. However, planning a wedding isn't simple! We all know weddings require a ton of arrangements and decisions. VNV believes to make every moment memorable by providing our clients with the best quality of arrangements keeping the budget in mind. We also specialize in themed weddings which adds a different touch to the wedding and its environment. By trusting VNV Expert Planner you will save time and be stress free because it’s just not your family’s wedding,  but ours too!</p>
                      </div>
                     </div>
                    </a></div>
</div>

	<div class="show-mobile" style="margin-top: -3em;">
	<div class=" overlay-image _ay "><a href="">
                     <img class=" image _b0 " src="{% static 'home/images/banner/Planning_and_Decor.jpg' %}" alt="Alt text" style="width: 100%;height: 500px;object-fit: cover;" />
                     <div class=" hover _b1 ">
                      <div class=" text _2 " style="padding: 1em;">
						  <h2 style="color:#fff;font-weight: bold;" >Vnv Expert Planner</h2>
                          <p style="margin-top: 1em;text-align: justify;">Each Indian Wedding is described by its Traditions, cultural standards, and ceremonies rituals. However, planning a wedding isn't simple! We all know weddings require a ton of arrangements and decisions. VNV believes to make every moment memorable by providing our clients with the best quality of arrangements keeping the budget in mind. We also specialize in themed weddings which adds a different touch to the wedding and its environment. By trusting VNV Expert Planner you will save time and be stress free because it’s just not your family’s wedding,  but ours too!</p>
<!--                    <p style="margin-top: 0em;">Find the best vendor for your wedding & Events , Plan You wedding easy!</p>-->
                      </div>
                     </div>
                    </a></div>
    </div>



</div>


<div class="container" style="margin-top: 3em;margin-bottom: 3em;">

    <h1 style="color: #965B92;" align="center"><i class="fas fa-list-ul"></i> &nbsp&nbspWedding Planning</h1>

    <div class="row" style="margin-top: 6em;">
        <div class="col-lg-8 col-md-12">
 <div class="dash__box dash__box--shadow dash__box dash__box--bg-white u-s-m-b-30">
            <div class="dash__pad-2">
                
                <h3 align="center" class="mb-2" style="font-weight: 600;">How we work</h4><hr>
                
<!--                <div class="hide-mobile">-->
<!--                <table width="100%" style="margin-top: 2em;">-->
<!--                    <tr>-->
<!--                        <th width="50%">-->
<!--                            <center><i class="fas fa-home" style="color: #965B92;font-size: 3em;"></i></center>-->
<!--                            <p align="center">VENUE SELECTION</p>-->
<!--                        </th>-->
<!--                        <th width="50%">-->
<!--                            <center><i class="fas fa-tasks" style="color: #965B92;font-size: 3em;"></i></center>-->
<!--                            <p align="center">VENDOR MANAGEMENT</p>-->
<!--                        </th>-->
<!--                        <th width="50%">-->
<!--                            <center><i class="fas fa-briefcase" style="color: #965B92;font-size: 3em;"></i></center>-->
<!--                            <p align="center">CUSTOM WEDDING STATIONERY</p>-->
<!--                        </th>-->
<!--                    </tr>-->
<!--                </table>-->

<!--                <table width="100%" style="margin-top: 3em;">-->
<!--                    <tr>-->
<!--                        <th width="50%">-->
<!--                            <center><i class="far fa-gem" style="color: #965B92;font-size: 3em;"></i></center>-->
<!--                            <p align="center">WEDDING DAY MANAGMENT</p>-->
<!--                        </th>-->
<!--                        <th width="50%">-->
<!--                            <center><i class="fas fa-car" style="color: #965B92;font-size: 3em;"></i></center>-->
<!--                            <p align="center">LOGISTICS MANAGMENT</p>-->
<!--                        </th>-->
<!--                        <th width="50%">-->
<!--                            <center><i class="far fa-heart" style="color: #965B92;font-size: 3em;"></i></center>-->
<!--                            <p align="center">WEDDING DESIGN AND CUSTOM STYLING VENDOR MANAGEMENT</p>-->
<!--                        </th>-->
<!--                    </tr>-->
<!--                </table>-->
<!--                </div>-->
<!--                <div class="show-mobile">-->
                    <table width="100%" style="margin-top: 2em;margin-bottom: 2em;">
                    <tr>
                        <th width="50%" style="padding-top: 3em;">
                            <center><img width="60em" src="{% static 'home/icons/Icon 1.png' %}" alt="image"></center>
                            <p align="center" style="margin-top: 1em;">VENUE AND VENDOR SELECTION</p>
                        </th>
                        <th width="50%" style="padding-top: 3em;">
                            <center><img width="60em" src="{% static 'home/icons/organising.png' %}" alt="image"></center>
                            <p align="center" style="margin-top: 1em;">VENDOR MANAGEMENT</p>
                        </th>
                        </tr>
                    <tr>
                        <th width="50%" style="padding-top: 3em;">
                            <center><img width="60em" src="{% static 'home/icons/Find Ideas.png' %}" alt="image"></center>
                            <p align="center" style="margin-top: 1em;">CUSTOM WEDDING STATIONERY</p>
                        </th>
                         <th width="50%" style="padding-top: 4em;">
                            <center><i class="fas fa-people-carry" style="color: #965B92;font-size: 3em;"></i></center>
                            <p align="center" style="margin-top: 1em;">WEDDING DAY MANAGMENT</p>
                        </th>
                    </tr>
                    <tr>
                        <th width="50%" style="padding-top: 4em;">
                            <center><i class="fas fa-truck" style="color: #965B92;font-size: 3em;margin-top: -2em;"></i></center>
                            <p align="center" style="margin-top: 1em;">LOGISTICS MANAGMENT</p>
                        </th>
                        <th width="50%" style="padding-top: 2em;">
                            <center><img width="70em" src="{% static 'home/icons/Guest Management.png' %}" alt="image"></center>
                            <p align="center" style="margin-top: 0em;">{{ "Wedding design and custom theme styling"|upper }}</p>
                        </th>
                    </tr>
                </table>
<!--                </div>-->

            </div>
 </div>
        </div>

        <div class="col-lg-4 col-md-12" style="width: 250%;">
                <div class="dash__box dash__box--shadow dash__box dash__box--bg-white u-s-m-b-30">
            <div class="dash__pad-2">
                <center style="margin-top:0em;">
                {% for message in messages %}
                    <P class="alert alert-{{ message.tags }}">
                         {{ message }}
                    </P>
                {% endfor %}
            </center>
                 <h3 align="center" class="mb-2" style="font-weight: 600;">Hire An Expert</h3><hr>
                          <form method="post">
                    {% csrf_token %}
                    <div class="gl-inline">
                        <div class="u-s-m-b-30">

                            <label class="gl-label" for="id_name">NAME *</label>

                            <input class="input-text input-text--primary-style" type="text" id="id_name" name="name" placeholder="John" required style="width: 100%;"></div>
                    </div>

                    <div class="gl-inline">
                        <div class="u-s-m-b-30">

                            <label class="gl-label" for="id_email">E-MAIL *</label>

                            <input class="input-text input-text--primary-style" type="text" id="id_email" name="email" placeholder="John@domain.com" required style="width: 100%;"></div>

                    </div>

                    <div class="gl-inline">
                        <div class="u-s-m-b-30">

                            <label class="gl-label" for="id_mobile">Phone *</label>

                            <input class="input-text input-text--primary-style" type="tel" pattern="[789][0-9]{9}"  id="id_mobile" name="mobile" placeholder="Mobile No" required style="width: 100%;"></div>

                    </div>

                    <div class="gl-inline" style="margin-top: 0em;">
                        <div class="u-s-m-b-30">
                          <label class="gl-label" for="id_description">MESSAGE *</label>
                          <textarea class="text-area text-area--border text-area--primary-style" id="id_description" name="description" placeholder="Compose a Message (Required)" required style="width: 100%;"></textarea></div>
                    </div>

                      <div class="gl-inline" style="margin-top: 0em;">
                        <div class="u-s-m-b-30">
                            <button type="submit" style="width: 100%;border: 1px solid;background: #965B92;padding: 0.5em;color: #fff;">Hire</button>
                            {% comment %} <a href="tel:9313846800" class="btn btn--e-transparent-brand-b-2 w-100 mt-3" style="font-weight: bold;">CAll NOW</a> {% endcomment %}
                        </div>
                    </div>


                </form>
            </div>
                </div>
        </div>

    </div>
</div>



<div class="container" style="margin-bottom: 3em;">
    
<div class="uk-card uk-card-default uk-card-body">
    <p>{{ destination_wedding.planning_decor|safe }}</p>
</div>

<div class="hide-mobile">
 <table style="margin: 5em 0em;" width="100%">
     <tr>
         <th width="25%"><h5 align="center"><img width="35em" src="{% static 'home/icons/Personal Assistance.png' %}" alt="image"> </h5><h5 align="center" style="margin-top: 1em;">Personal Assistance</h5></th>
         <th width="25%"><h5 align="center"><i class="fas fa-rupee-sign" style="color: #965B92;font-size: 2em;"></i> </h5><h5 align="center" style="margin-top: 1em;">Budget Calcuator</h5></th>
         <th width="25%"><h5 align="center"><i class="fas fa-tasks" style="color: #965B92;font-size: 2em;"></i></h5><h5 align="center" style="margin-top: 1em;">Check list your shopping store</h5></th>
         <th width="25%"><h5 align="center"><img width="35em" src="{% static 'home/icons/Budget.png' %}" alt="image"> </h5><h5 align="center" style="margin-top: 1em;">Create your gift list</h5></th>
     </tr>
 </table>
</div>

    <div class="show-mobile">
                    <table style="margin: 5em 0em;" width="100%">
                             <tr>
                                 <th width="50%"><h5 align="center"><i class="fas fa-user-shield" style="color: #965B92;font-size: 2em;"></i> </h5><h5 align="center" style="margin-top: 1em;">Personal Assistance</h5></th>
                                 <th width="50%"><h5 align="center"><i class="fas fa-credit-card" style="color: #965B92;font-size: 2em;"></i> </h5><h5 align="center" style="margin-top: 1em;">Budget Calcuator</h5></th>
                             </tr>
                        <tr>
                            <th width="50%"><h5 align="center"><i class="fas fa-tasks" style="color: #965B92;font-size: 2em;"></i></h5><h5 align="center" style="margin-top: 1em;">Check list your shopping store</h5></th>
                            <th width="50%"><h5 align="center"><i class="fas fa-gifts" style="color: #965B92;font-size: 2em;"></i> </h5><h5 align="center" style="margin-top: 1em;">Create your gift list</h5></th>
                        </tr>
                    </table>
    </div>

</div>

<div class="hide-mobile" >
	<div class=" overlay-image _ay "><a>
                     <img class=" image _b0 " src="{% static 'home/images/home/cb.png' %}" alt="Alt text" style="width: 100%;height: 400px;object-fit: cover;" />
                     <div class=" hover _b1 ">
                      <div class=" text _2 " style="padding: 1em;">
						  <h2 style="color:#fff;font-weight: bold;" class="mt-4">We assure perfect wedding decoration ideas</h1>
                          <p style="padding: 2em;font-size:0.6em;">An Indian Wedding is inadequate without decorations! Also, you can trust in us for great and incredible wedding decorations. You can disclose to us your desires and we’ll decorate your wedding perfectly as you have dreamed! Yet, you are doubt, we are here to help you as well! Believe us for flawless decorations desires for your wedding! We have magnificent wedding decoration expert who are specialists in designing the Indian Wedding Decoration. Simply tell to us your Budget, we will structure your fantasy wedding decor and with no difficulty!</p>
                      </div>
                     </div>
                    </a></div>
</div>

	<div class="show-mobile" style="margin-top: 2em;">
	<div class=" overlay-image _ay "><a href="">
                     <img class=" image _b0 " src="{% static 'home/images/home/cb.png' %}" alt="Alt text" style="width: 100%;height: 500px;object-fit: cover;" />
                     <div class=" hover _b1 ">
                      <div class=" text _2 " style="padding: 1em;">
						  <h2 style="color:#fff;font-weight: bold;" >We assure perfect wedding decoration ideas</h2>
                          <p style="margin-top: 1em;text-align: justify;">An Indian Wedding is inadequate without decorations! Also, you can trust in us for great and incredible wedding decorations. You can disclose to us your desires and we’ll decorate your wedding perfectly as you have dreamed! Yet, you are doubt, we are here to help you as well! Believe us for flawless decorations desires for your wedding! We have magnificent wedding decoration expert who are specialists in designing the Indian Wedding Decoration. Simply tell to us your Budget, we will structure your fantasy wedding decor and with no difficulty!</p>
<!--                    <p style="margin-top: 0em;">Find the best vendor for your wedding & Events , Plan You wedding easy!</p>-->
                      </div>
                     </div>
                    </a></div>
    </div>





</div>




{% endblock content %}