{% extends "home/base.html" %}
{% load static %}


{% block meta %}

<title> Top Wedding  & Fashion Stylist - Get latest wedding outfits & Ideas</title>
<meta name="description" content="Find here the latest wedding Stylist outfit & ideas as per your taste, budget. Get latest outfit with matching accessories & get best look that matches your outfit">

{% endblock meta %}

{% block head %}
<style>
   .overlays {
  opacity: 10;
  color: white;
  background-color: #000;
}
</style>
{% endblock head %}
{% block content %}

<div class="app-content" style="margin-top:3em;">


<!--    <div class="hide-mobile" >-->
<!--	<div class=" overlay-image _ay "><a  href="#">-->
<!--                     <img class=" image _b0 " src="{% static 'home/images/banner/fashion_stylist.jpg' %}" alt="Alt text" style="width: 100%;height: 30%;" />-->
<!--                     <div class=" hover _b1 ">-->
<!--                      <div class=" text _2 " style="padding: 1em;">-->
<!--						  <h1 style="color:#fff;font-weight: bold;">Fashion Stylist</h1>-->
<!--                      </div>-->
<!--                     </div>-->
<!--                    </a></div>-->
<!--</div>-->

<div class="hide-mobile" >
	<div class=" overlay-image _ay "><a>
                     <img class=" image _b0 " src="{% static 'home/images/home/cb.png' %}" alt="Alt text" style="width: 100%;height: 400px;object-fit: cover;" />
                     <div class=" hover _b1 ">
                      <div class=" text _2 " style="padding: 1em;">
						  <h1 style="color:#fff;font-weight: bold;">Fashion Stylist</h1>
                      </div>
                     </div>
                    </a></div>
</div>

	<div class="show-mobile" style="margin-top: -3em;">
	<div class=" overlay-image _ay "><a >
                     <img class=" image _b0 " src="{% static 'home/images/home/cb.png' %}" alt="Alt text" style="width: 100%;height: 500px;object-fit: cover;" />
                     <div class=" hover _b1 ">
                      <div class=" text _2 " style="padding: 1em;">
						  <h2 style="color:#fff;font-weight: bold;" >Fashion Stylist</h2>
<!--                    <p style="margin-top: 0em;">Find the best vendor for your wedding & Events , Plan You wedding easy!</p>-->
                      </div>
                     </div>
                    </a></div>
    </div>


                     <div class="container" style="margin-top: 3em;margin-bottom: 3em;">
                          <div class="row">
                            <div class="col-sm">
                                 <div>
                                     <div class="uk-card uk-card-default uk-card-body" style="margin-top: 1em;">
                                         <center><i class="fas fa-child" style="color: #965B92;font-size: 3em;"></i></center>
                                         <h5 style="color: #000;margin-top: 0.7em;font-weight: bold;" align="center">Body Type & Sessions</h5>
                                         <p style="margin-top: 0.5em;" align="center">Identify the body type & completion of the client & then gathering information about client taste & idea for the outfit. </p><br><br>
                                     </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                 <div>
                                     <div class="uk-card uk-card-default uk-card-body" style="margin-top: 1em;">
                                         <center><i class="fas fa-rupee-sign" style="color: #965B92;font-size: 3em;"></i></center>
                                         <h5 style="color: #000;margin-top: 0.7em;font-weight: bold;" align="center">Budget</h5>
                                         <p style="margin-top: 0.5em;"align="center">Recognising the budget for your wedding outfit's and planning to meet your desire outfit in your budget.</p><br><br><br>
                                     </div>
                                </div>
                            </div>
                             <div class="col-sm">
                                 <div>
                                     <div class="uk-card uk-card-default uk-card-body"  style="padding-left: 1em;padding-right: 1em;margin-top: 1em;">
                                         <center><i class="fas fa-tshirt" style="color: #965B92;font-size: 3em;"></i></center>
                                         <h5 style="color: #000;margin-top: 0.7em;font-weight: bold;" align="center">Designer Outfit & Accessories</h5>
                                         <p style="margin-top: 0.5em;padding:1em;" align="center">Selecting the best outfit for your wedding day along with the matching accessories and designing the mood board for all of your wedding events. </p>
                                     </div>
                                </div>
                            </div>

                               <div class="col-sm">
                                 <div>
                                     <div class="uk-card uk-card-default uk-card-body"  style="padding-left: 1em;padding-right: 1em;margin-top: 1em;">
                                         <center><i class="fas fa-magic" style="color: #965B92;font-size: 3em;"></i></center>
                                         <h5 style="color: #000;margin-top: 0.7em;font-weight: bold;" align="center">Styling & Assign makeup according to the occasion</h5>
                                         <p style="margin-top: 0.5em;padding: 1em;" align="center">Selecting best makeup look that matches with your outfit.</p><br><br><br>
                                     </div>
                                </div>
                            </div>

                          </div>


<div class="hide-mobile">
    <table style="margin-top: 3em;">
        <tr>
            <th width="50%">
                <h2 style="font-weight: 900;">About Our Stylist</h2>
                <p style="margin-top:1em;">Here at Vow’snView’s our stylists are as one of a kind as your own style. Meet the countenances behind the case and become familiar with the stunning people that are devoted to helping you look and feel your best!
                We style for another age of people who need to have a constructive outcome in their purchasing choices and practices. It’s an interest in our future.
                We’re here to enable you to own your expression In a quick paced world brimming with enormous thoughts, introduction is critical. Initial introductions—visual impressions—are imperative; your own style ought to be as convincing as the various messages you have to pass on. Regardless of whether you look for a full storage room redesign, regular updates, or YOUR WEDDING , We’ll ensure you have closet pieces that offset real ordinary style with savvy, existing apart from everything else subtleties. What’s more, since it’s not just about owning the correct things.  Get your Wedding styling done by our experienced in-house stylists.</p>
            </th>
            <th width="50%">
                <img src="{% static 'home/images/banner/fashion_stylist.jpg' %}" style="height: 500px;width: 100%;margin-left: 2em;margin-top: 3em;">
            </th>
        </tr>
    </table>
</div>


                         <div class="show-mobile">
                            <table style="margin-top: 3em;">
                                <tr>
                                    <th width="50%">
                                        <h2 style="font-weight: 900;">About Our Stylist</h2>
                                        <p>Here at Vow’snView’s our stylists are as one of a kind as your own style. Meet the countenances behind the case and become familiar with the stunning people that are devoted to helping you look and feel your best!
                                        We style for another age of people who need to have a constructive outcome in their purchasing choices and practices. It’s an interest in our future.
                                        We’re here to enable you to own your expression In a quick paced world brimming with enormous thoughts, introduction is critical. Initial introductions—visual impressions—are imperative; your own style ought to be as convincing as the various messages you have to pass on. Regardless of whether you look for a full storage room redesign, regular updates, or YOUR WEDDING , We’ll ensure you have closet pieces that offset real ordinary style with savvy, existing apart from everything else subtleties. What’s more, since it’s not just about owning the correct things.  Get your Wedding styling done by our experienced in-house stylists.</p>
                                    </th>
                                </tr>
                                <tr>
                                    <th width="50%">
                                        <img src="{% static 'home/images/banner/fashion_stylist.jpg' %}" style="height: 500px;width: 100%;margin-left: 0em;margin-top: 3em;">
                                    </th>
                                </tr>
                            </table>
                        </div>

<div class="hide-mobile">
                         <table style="margin-top: 5em;" width="100%">
                             <tr>
                                 <th width="25%"><h5 align="center"><i class="fas fa-user-shield" style="color: #965B92;font-size: 2em;"></i> &nbsp&nbsp&nbspPersonal Assistance</h5></th>
                                 <th width="25%"><h5 align="center"><i class="fas fa-rupee-sign" style="color: #965B92;font-size: 2em;"></i> &nbsp&nbsp&nbspIn Your Budget</h5></th>
                                 <th width="25%"><h5 align="center"><i class="fas fa-store" style="color: #965B92;font-size: 2em;"></i> &nbsp&nbsp&nbspVisiting vendors</h5></th>
                                 <th width="25%"><h5 align="center" style="margin-top: 0.9em;"><i class="fas fa-holly-berry" style="color: #965B92;font-size: 2em;"></i> &nbsp&nbsp&nbspStyling According to the &nbspOcassion</h5></th>
                             </tr>
                         </table>
</div>

                         <div class="show-mobile">
                        <table style="margin-top: 5em;" width="100%">
                             <tr>
                                 <th width="50%"><h5 align="center"><i class="fas fa-user-shield" style="color: #965B92;font-size: 2em;"></i></h5><h5 align="center" style="margin-top: -0.5em;">Personal Assistance</h5></th>
                                 <th width="50%"><h5 align="center"><i class="fas fa-rupee-sign" style="color: #965B92;font-size: 2em;"></i></h5><h5 align="center" style="margin-top: -0.5em;">In Your Budget</h5></th>
                             </tr>
                         </table>
                         <table style="margin-top: 0em;" width="100%">
                             <tr>
                                 <th width="50%"><h5 align="center"><i class="fas fa-store" style="color: #965B92;font-size: 2em;"></i></h5><h5 align="center" style="margin-top: -0.5em;">Visiting vendors</h5></th>
                                 <th width="50%"><h5 align="center" style="margin-top: 0.9em;"><i class="fas fa-holly-berry" style="color: #965B92;font-size: 2em;"></i></h5><h5 align="center" style="margin-top: -0.5em;">Styling According to the &nbspOcassion</h5></th>
                             </tr>
                         </table>
                         </div>




</div>


{% endblock content %}
