{% extends "listing_analytics/base.html" %}
{% load crispy_forms_tags %}

<!--Using this messages for message display -->
<ul>
    {% for message in messages %}
    <li class="{{ message.tags }}">
         {{ message }}
    </li>
    {% endfor %}
</ul>

{% block data %}
 <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Review Update</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit" style="color:#000;">Submit</button>
        </div>
    </form>
{% endblock data %}
