{% extends "analytics/base.html" %}
{% load crispy_forms_tags %}
{% load products_extras %}
{% load widget_tweaks %}
<!--Using this messages for message display -->
<ul>
    {% for message in messages %}
    <li class="{{ message.tags }}">
         {{ message }}
    </li>
    {% endfor %}
</ul>

{% block data %}

{% block head %}

<style>
th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}
</style>

{% endblock head %}

<div class="tool-style__group u-s-m-b-8">

</div>

<div class="dash__pad-2">
<table width="100%">
    <tr>
        <th><p align="center" style="color: #000;font-size: 1em;">Product</p></th>
        <th><p align="center" style="color: #000;font-size: 1em;">User Name</p></th>
        <th><p align="center" style="color: #000;font-size: 1em;">Email</p></th>
        <th><p align="center" style="color: #000;font-size: 1em;">Phone Number</p></th>
    </tr>
    {% for cart in object_list %}
    <tr>
        <td style="padding: 1em;"><p align="center"><a href={% url 'product-list-view' %} >{{ cart.product }}</a></p></td>
        <td style="padding: 1em;"><p align="center">{{ cart.user.user_full_name }}</p></td>
        <td style="padding: 1em;"><p align="center">{{ cart.user.email }}</p></td>
        <td style="padding: 1em;"><p align="center">{{ cart.user.phone_number }}</p></td>
    </tr>
    {% endfor %}
</table>
</div>

<div class="u-s-p-y-60">
    <ul class="shop-p__pagination">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <li class="is-active"><a href="{% filter_url 1 'page' request.GET.urlencode %}">First</a></li>
                <li class="is-active"><a href="{% filter_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a></li>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <li class="is-active"><a href="{% filter_url num 'page' request.GET.urlencode %}">{{ num }}</a></li>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <li class="is-active"><a href="{% filter_url num 'page' request.GET.urlencode %}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="is-active"><a href="{% filter_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a></li>
                <li class="is-active"><a href="{% filter_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
            {% endif %}
        {% endif %}
    </ul>
</div>




{% endblock data %}