{% extends "analytics/base.html" %}
{% load crispy_forms_tags %}

<!--Using this messages for message display -->
<ul>
    {% for message in messages %}
    <li class="{{ message.tags }}">
         {{ message }}
    </li>
    {% endfor %}
</ul>

{% block data %}
<h3 style="margin-bottom: -0.3em;">Order Details</h3>
</div></div>

            <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
                <div class="dash__pad-2">
                    <div class="dash-l-r">
                    <div>
                        <div class="manage-o__text-2 u-c-secondary">Order #{{ object.order_ref_number }}</div>
                        <div class="manage-o__text u-c-silver">Placed on {{ object.ordered_date_time }}</div>
                    </div>
                    <div>
                        <div class="manage-o__text-2 u-c-silver">Total:
                            <span class="manage-o__text-2 u-c-secondary">₹{{ object.cart.get_final_price }}</span>
                        </div>
                    </div>
                </div>
                </div>
        </div>
        <div class="dash__box dash__box--shadow dash__box--radius dash__box--bg-white u-s-m-b-30">
            <div class="dash__pad-2">
                <div class="manage-o">
            <div class="manage-o__header u-s-m-b-30">
                <div class="manage-o__icon"><i class="fas fa-box u-s-m-r-5"></i>

                    <span class="manage-o__text">Package 1</span></div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
            <div class="dash-l-r">
                {% if mini_order.order_status == 'Delivered' %}
                    <div class="manage-o__text u-c-secondary">Delivered on {{ mini_order.delivered_time }}</div>
                {% endif %}
                    <span class="manage-o__text">
                        {% if mini_order.cancel_requested %}
                            <a href="{% url 'admin-order-cancel-detail' mini_order.id %}" style="color:red;font-size:1.5em;">Cancel Requested</a>
                        {% endif %}
                        {% if mini_order.return_requested %}
                            <a href="{% url 'admin-order-return-detail' mini_order.id %}" style="color:red;font-size:1.5em;">Return Requested</a>
                        {% endif %}
                    </span>
            </div>
            <div class="manage-o__timeline">
                <div class="timeline-row">
                    {% if mini_order.order_status == 'Delivered' %}
                        <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i--finish">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text">Preparing</span>
                            </div>
                        </div>
                        <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i--finish">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text">Shipped</span>
                            </div>
                        </div>
                        <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i--finish">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text">Delivered</span>
                            </div>
                        </div>
                    {% elif mini_order.order_status == 'Shipping' %}
                         <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i--finish">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text">Preparing</span>
                            </div>
                        </div>
                         <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i--finish">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text">Shipped</span>
                            </div>
                        </div>
                         <div class="col-lg-4 u-s-m-b-30">
                                                <div class="timeline-step">
                                                    <div class="timeline-l-i timeline-l-i">

                                                        <span class="timeline-circle"></span></div>

                                                    <span class="timeline-text">Delivered</span>
                                                </div>
                                            </div>
                    {% elif mini_order.order_status == 'Preparing' %}
                        <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i--finish">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text">Preparing</span>
                            </div>
                        </div>
                        <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text">Shipped</span>
                            </div>
                        </div>
                        <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text">Delivered</span>
                            </div>
                        </div>
                    {% elif mini_order.order_status == 'RETURNED' %}
                        <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i--finish">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i--finish">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text">RETURNED</span>
                            </div>
                        </div>
                        <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i--finish">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text"></span>
                            </div>
                        </div>
                    {% elif mini_order.order_status == 'CANCELED' %}
                        <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i--finish">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text"></span>
                            </div>
                        </div>
                        <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i--finish">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text">CANCELED</span>
                            </div>
                        </div>
                        <div class="col-lg-4 u-s-m-b-30">
                            <div class="timeline-step">
                                <div class="timeline-l-i timeline-l-i--finish">

                                    <span class="timeline-circle"></span></div>

                                <span class="timeline-text"></span>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
            <div class="manage-o__description">
                <div class="description__container">
                    <div>

                        <img src="{{  mini_order.cart.product.get_image }}" alt="" style="width: auto;height: 150px;border-radius: 10%;object-fit: cover;">
                        </div>
                    <div class="description-title">{{ mini_order.cart.product.title }}</div>
                </div>
                <div class="description__info-wrap">
                    <div>

                        <span class="manage-o__text-2 u-c-silver">Quantity:

                            <span class="manage-o__text-2 u-c-secondary">{{ mini_order.cart.quantity }}</span></span></div>
                    <div>

                        <span class="manage-o__text-2 u-c-silver">Total:

                            <span class="manage-o__text-2 u-c-secondary">₹{{  mini_order.cart.get_final_price }}</span></span></div>
                </div>
            </div>
        </div>
            </div>
        </div>
        <div class="row">
        <div class="col-lg-6">
        <div class="dash__box dash__box--bg-white dash__box--shadow u-s-m-b-30">
            <div class="dash__pad-3">
                <h2 class="dash__h2 u-s-m-b-8">Shipping Address</h2>
                <h2 class="dash__h2 u-s-m-b-8">{{ object.user.user_full_name }}</h2>

                <span class="dash__text-2" style="margin-top: 0em;">{{ order.address.street_address }} - {{ order.address.state }}, {{ order.address.city }} - {{ order.address.pin_code }}</span>

                <span class="dash__text-2">{{ object.user.phone_number }}</span>
            </div>
        </div>
        <div class="dash__box dash__box--bg-white dash__box--shadow dash__box--w">
            <div class="dash__pad-3">
                <h2 class="dash__h2 u-s-m-b-8">Billing Address</h2>
                <h2 class="dash__h2 u-s-m-b-8">{{ object.user.user_full_name }}</h2>

                <span class="dash__text-2" style="margin-top: 0em;">{{ order.address.street_address }} - {{ order.address.state }}, {{ order.address.city }} - {{ order.address.pin_code }}</span>

                <span class="dash__text-2">{{ object.user.phone_number }}</span>
            </div>
        </div>
        </div>
        <div class="col-lg-6">
        <div class="dash__box dash__box--bg-white dash__box--shadow u-h-100">
            <div class="dash__pad-3">
                <h2 class="dash__h2 u-s-m-b-8">Total Summary</h2>
                <div class="dash-l-r u-s-m-b-8">
                    <div class="manage-o__text-2 u-c-secondary">Subtotal</div>
                    <div class="manage-o__text-2 u-c-secondary">₹{{ mini_order.cart.get_total_item_price }}</div>
                </div>
                <div class="dash-l-r u-s-m-b-8">
                    <div class="manage-o__text-2 u-c-secondary">Shipping Fee</div>
                    <div class="manage-o__text-2 u-c-secondary">₹0.0</div>
                </div>
                <div class="dash-l-r u-s-m-b-8">
                    <div class="manage-o__text-2 u-c-secondary">Total</div>
                    <div class="manage-o__text-2 u-c-secondary">₹{{ mini_order.cart.get_final_price }}</div>
                </div>

             <div class="dash-l-r u-s-m-b-8">
                    <div class="manage-o__text-2 u-c-secondary">Paid method </div>
                    <div class="manage-o__text-2 u-c-secondary">{{ order.payment.payment_method }}</div>
                
            </div>
            <div class="dash-l-r u-s-m-b-8">
                <div class="manage-o__text-2 u-c-secondary">Payment ID </div>
                <div class="manage-o__text-2 u-c-secondary">{{ order.payment.payment_id }}</div>
            </div>
            <div class="dash-l-r u-s-m-b-8">
                <div class="manage-o__text-2 u-c-secondary">ORDER ID </div>
                <div class="manage-o__text-2 u-c-secondary">{{ order.payment.order_id }}</div>
            </div>
            
        </div>
        </div>
        </div>

{% endblock data %}