{% extends "analytics/base.html" %}
{% load products_extras %}
<!--Using this messages for message display -->
<ul>
    {% for message in messages %}
    <li class="{{ message.tags }}">
         {{ message }}
    </li>
    {% endfor %}
</ul>

{% block data %}
            <!--====== Section 1 ======-->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="shop-p">
                                <div class="shop-p__toolbar u-s-m-b-30">
                                    <div class="shop-p__meta-wrap u-s-m-b-60">

<!--                                        <span class="shop-p__meta-text-1">FOUND 18 RESULTS</span>-->
<!--                                        <div class="shop-p__meta-text-2">-->

<!--                                            <span>Related Searches:</span>-->

<!--                                            <a class="gl-tag btn&#45;&#45;e-brand-shadow" href="#">men's clothing</a>-->

<!--                                            <a class="gl-tag btn&#45;&#45;e-brand-shadow" href="#">mobiles & tablets</a>-->

<!--                                            <a class="gl-tag btn&#45;&#45;e-brand-shadow" href="#">books & audible</a></div>-->
<!--                                    </div>-->
                                    <div class="shop-p__tool-style">
                                        <div class="tool-style__group u-s-m-b-8">

                                            <span class="js-shop-filter-target" data-side="#side-filter">Filters</span>

                                            <span class="js-shop-grid-target is-active">Grid</span>

                                            <!--<span class="js-shop-list-target">List</span>-->
                                            <a href="{% url 'admin-product-add'%}"><span class="js-shop-list-target">Add Products</span></a>
                                        </div>
                                    </div>
                                        <form>
                                            <div class="tool-style__form-wrap">
<!--                                                <div class="u-s-m-b-8"><select class="select-box select-box&#45;&#45;transparent-b-2">-->
<!--                                                        <option>Show: 8</option>-->
<!--                                                        <option selected>Show: 12</option>-->
<!--                                                        <option>Show: 16</option>-->
<!--                                                        <option>Show: 28</option>-->
<!--                                                    </select></div>-->
<!--                                                <div class="u-s-m-b-8"><select class="select-box select-box&#45;&#45;transparent-b-2">-->
<!--                                                        <option selected>Sort By: Newest Items</option>-->
<!--                                                        <option>Sort By: Latest Items</option>-->
<!--                                                        <option>Sort By: Best Selling</option>-->
<!--                                                        <option>Sort By: Best Rating</option>-->
<!--                                                        <option>Sort By: Lowest Price</option>-->
<!--                                                        <option>Sort By: Highest Price</option>-->
<!--                                                    </select></div>-->
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="shop-p__collection">
                                    <div class="row is-grid-active">

                                        {% for product in object_list %}
                                        <div class="col-lg-4 col-md-4 col-sm-6">
                                            <div class="product-m">
                                                <div class="product-m__thumb">

                                                    <a class="aspect aspect--bg-grey aspect--square u-d-block" href="{% url 'admin-product-detail' product.id %}">

                                                        <img class="aspect__img" src="{{ product.get_image }}" alt=""></a>
                                                    <div class="product-m__add-cart">

                                                        <a href="{% url 'admin-product-detail' product.id %}" class="btn--e-brand" style="background-color:#965B92;color:#fff;border-color:#965B92;" onMouseOver="this.style.background-color='#fff'">View Detail</a>
                                                    </div>

                                                </div>
                                                <div class="product-m__content">
                                                    <div class="product-m__category">

                                                        <a href="">{{ product.category }}</a></div>
                                                    <div class="product-m__name">

                                                        <a href="{% url 'product-detail-view' product.id %}">{{ product.title }} - </a></div>
                                                    <div class="product-m__rating gl-rating-style">
<!--                                                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i>-->
<!--                                                        <span class="product-m__review">(23)</span>-->
                                                    </div>
                                                    <div class="product-m__price">₹{{ product.discount_price }}</div>
                                                    <div class="product-m__hover">
                                                        <div class="product-m__preview-description">

                                                            <span>{{ product.short_description|safe }}</span></div>
                                                        <div class="product-m__wishlist">
                                                            <a class="far fa-trash-alt" href="{% url 'admin-product-delete' product.id %}" data-tooltip="tooltip" data-placement="top" title="Delete Product" style="margin-right: 0.7em;"></a>
                                                            <a class="fas fa-edit" href="{% url 'admin-product-update' product.id %}" data-tooltip="tooltip" data-placement="top" title="Edit Product" ></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="u-s-p-y-60">

                                    <!--====== Pagination ======-->
                                    <ul class="shop-p__pagination">
                                    {% if is_paginated %}
                                      {% if page_obj.has_previous %}
                                        <li class="is-active"><a href="{% filter_url 1 'page' request.GET.urlencode %}">First</a></li>
                                        <li class="is-active"><a href="{% filter_url page_obj.previous_page_number 'page' request.GET.urlencode %}">Previous</a></li>
                                      {% endif %}

                                      {% for num in page_obj.paginator.page_range %}
                                        {% if page_obj.number == num %}
                                          <li class="is-active"><a href="{% filter_url num 'page' request.GET.urlencode %}">{{ num }}</a></li>
                                        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                          <li class="is-active"><a href="{% filter_url num 'page' request.GET.urlencode %}">{{ num }}</a></li>
                                        {% endif %}
                                      {% endfor %}

                                      {% if page_obj.has_next %}
                                        <li class="is-active"><a href="{% filter_url page_obj.next_page_number 'page' request.GET.urlencode %}">Next</a></li>
                                        <li class="is-active"><a href="{% filter_url page_obj.paginator.num_pages 'page' request.GET.urlencode %}">Last</a></li>
                                      {% endif %}

                                    {% endif %}
<!--                                        <li class="is-active">-->

<!--                                            <a href="shop-grid-full.html">1</a></li>-->
<!--                                        <li>-->

<!--                                            <a href="shop-grid-full.html">2</a></li>-->
<!--                                        <li>-->

<!--                                            <a href="shop-grid-full.html">3</a></li>-->
<!--                                        <li>-->

<!--                                            <a href="shop-grid-full.html">4</a></li>-->
<!--                                        <li>-->

<!--                                            <a class="fas fa-angle-right" href="shop-grid-full.html"></a></li>-->
                                    </ul>
                                    <!--====== End - Pagination ======-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--====== End - Section 1 ======-->

        <!--====== Side Filters ======-->
        <form method="get">
    <div class="shop-a" id="side-filter" style="font-size:1.1em;">
        <div class="shop-a__wrap">
            <div class="shop-a__inner gl-scroll">
                <div class="shop-w-master">
                    <h1 class="shop-w-master__heading u-s-m-b-30"><i class="fas fa-filter u-s-m-r-8"></i>
                        <span>FILTERS</span>
                    </h1>
                    <div class="uk-card-body" style="margin-top:-2.5em;">
                        <button class="uk-button uk-button-default uk-width-1-1" type="submit"><span class="uk-margin-xsmall-right" uk-icon="icon: search; ratio: .75;"></span>Search</button>
                        <br><br>
                        <button class="uk-button uk-button-default uk-width-1-1" type="reset"><span class="uk-margin-xsmall-right" uk-icon="icon: close; ratio: .75;"></span>Reset all filters</button>
                    </div>

                    <div class="shop-w-master__sidebar">
                        <div class="u-s-m-b-30">
                            <div class="shop-w">
                                <div class="shop-w__intro-wrap">
                                    <h1 class="shop-w__h">PRODUCT NAME</h1>

                                    <span class="fas fa-minus shop-w__toggle" data-target="#s-price" data-toggle="collapse"></span>
                                </div>
                                <div class="shop-w__wrap" id="s-name">
                                        <div class="shop-w__form-p-wrap">
                                            <div style="margin:-0em 0.2em;">

                                                <input class="input-text input-text--primary-style" type="text" id="id_note" list="productlist"  placeholder="Search by product name" name="note" style="padding:0.5em 3em 0.5em 1em;width:110%;font-size:0.8em;"></div>
                                                <datalist id="productlist">
                                                    {% for product in object_list %}
                                                        <option value="{{product.title}}">{{product.title}}</option>
                                                    {% endfor %}
                                                </datalist>
                                            <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="shop-w">
                                <div class="shop-w__intro-wrap">
                                    <h1 class="shop-w__h">PRICE</h1>

                                    <span class="fas fa-minus shop-w__toggle" data-target="#s-price" data-toggle="collapse"></span>
                                </div>
                                <div class="shop-w__wrap collapse show" id="s-price" style="margin:-0em 0 -1.5em 0;">
                                        <div class="shop-w__form-p-wrap" >
                                            <div>
                                                <input class="input-text input-text--primary-style" type="number" id="id_discount_price_0" placeholder="Min" name="discount_price_min" min="1.0"></div>
                                            <div>
                                                <input class="input-text input-text--primary-style" type="number" id="id_discount_price_1" placeholder="Max" name="discount_price_max" min="2.0"></div>
                                            <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="u-s-m-b-30">
                            <div class="shop-w">
                                <div class="shop-w__intro-wrap">
                                    <h1 class="shop-w__h">Category</h1>

                                    <span class="fas fa-minus shop-w__toggle" data-target="#s-manufacturer" data-toggle="collapse"></span>
                                </div>
                                <div class="shop-w__wrap collapse show" id="s-manufacturer" style="margin:-1em 0 0em 0;">
                                    <ul class="shop-w__list-2">
                                     {% for choice in filter.form.category %}
                                        <li>
                                            <div class="list__content">
                                                <input type="checkbox">
                                                <span>{{ choice.choice_label }}</span></div>
                                            <span class="shop-w__total-text">({{ choice.count }})</span>
                                        </li>
                                    {% endfor %}

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="u-s-m-b-30">
                            <div class="shop-w">
                                <div class="shop-w__intro-wrap">
                                    <h1 class="shop-w__h">VENDOR NAME</h1>

                                    <span class="fas fa-minus shop-w__toggle" data-target="#s-price" data-toggle="collapse"></span>
                                </div>
                                <div class="shop-w__wrap" id="v-name">
                                    <div class="shop-w__form-p-wrap">
                                        <div style="margin:-1.5em 0.2em;">
                                            <label for="id_vendor_name"></label>
                                            <input class="input-text input-text--primary-style" type="text" id="id_vendor_name" placeholder="Search by vendor name" name="vendor_name" style="padding:0.5em 3em 0.5em 1em;width:110%;font-size:0.8em;"></div>
                                        <div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</form>

        <!--====== End - Side Filters ======-->
{% endblock data %}