{% extends "home/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

 <div class="app-content">
    <div class="u-s-p-y-60">
        <div class="section__content">
                    <div class="container">
                        <div class="breadcrumb">
                            <div class="breadcrumb__wrap">
                                <ul class="breadcrumb__list">
                                    <li class="has-separator">

                                        <a href="/">Home</a></li>
                                    <li class="is-marked">

                                        <a href="">Reset</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
        </div>
    </div>

     <div class="u-s-p-b-60">
        <div class="section__intro u-s-m-b-60">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section__text-wrap">
                            <h1 class="section__heading u-c-secondary">FORGOT PASSWORD?</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section__content">
            <div class="container">
                <div class="row row--center">
                    <div class="col-lg-6 col-md-8 u-s-m-b-30">
                        <div class="l-f-o">
                            <div class="l-f-o__pad-box">
                                <h1 class="gl-h1">RESET PASSWORD</h1>

                                <span class="gl-text u-s-m-b-30">Enter your email or username below and we will send you a link to reset your password.</span>
                                <form class="l-f-o__form" method="POST">
                                    {% csrf_token %}
                                    <div class="u-s-m-b-30">

                                        <label class="gl-label" for="id_email">E-MAIL *</label>

                                        <input class="input-text input-text--primary-style" type="text" id="id_email" name="email" placeholder="Enter E-mail" required></div>
                                    {% if form.errors %}
                                        <div class="alert alert-error">
                                            {% for field in form %}
                                              {% if field.errors %}
                                                {% for error in field.errors %}
                                                   <p style="color: red;">{{ error }}</p>
                                                {% endfor %}
                                              {% endif %}
                                            {% endfor %}
                                          {% if form.non_field_errors %}
                                            <p style="color: red;">{{ form.non_field_errors }}</p>
                                          {% endif %}
                                        </div>
                                    {% endif %}

                                    <!--Using this message code for HTML in message-->
                                    {% for message in messages %}
                                    <span class="{{ message.tags }}">
                                        {% if 'safe' in message.tags %}
                                            {{ message|safe }}
                                        {% else %}
                                            {{ message }}
                                        {% endif %}
                                    </span>
                                    {% endfor %}


                                    <div class="gl-inline">
                                        <div class="u-s-m-b-30">

                                            <button class="btn btn--e-transparent-brand-b-2" type="submit">RESET</button></div>
                                    </div>
                                    <div class="u-s-m-b-30" style="margin-top:-1em;">
                                        <a class="gl-link" href="{% url 'users-login' %}">Back to Login</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}